body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, li, a, p, code {
  font-family: 'Quicksand', sans-serif;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  cursor: pointer;
  background-color: transparent;
}

button:focus {
  outline: none;
}
